@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-background-color: #08090a;
    --header-background-color: #eff4eb;
    --link-color: #f77e16;
    --card-background-color: #282a30;
    --header-text-color: white;
}

body {
    background-color: var(--body-background-color);
    @apply text-gray-300;
}

a {
    /*@apply underline hover:underline-offset-4 font-bold text-blue-500 hover:text-blue-700;*/
    @apply no-underline hover:underline font-bold;
    color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold my-1.5;
    color: var(--header-text-color);
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

