/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

.theme-default-content:not(.custom),
.page-edit,
.page-nav
  max-width: 1200px !important
