openapi: 3.0.1
info:
  contact:
    name: Kenn
    url: https://everef.net/discord
  description: This spec should be considered unstable and subject to change at any
    time.
  license:
    name: CCP
    url: https://github.com/autonomouslogic/eve-ref/blob/main/LICENSE-CCP
  title: EVE Ref API
  version: dev
externalDocs:
  description: EVE Ref Docs
  url: https://docs.everef.net/api/
servers:
- url: https://api.everef.net
paths:
  /v1/industry/cost:
    get:
      operationId: industryCost
      parameters:
      - explode: true
        in: query
        name: input
        schema:
          $ref: "#/components/schemas/IndustryCostInput"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryCost"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Client error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Server error
      tags:
      - industry
components:
  schemas:
    ApiError:
      type: object
      properties:
        message:
          type: string
    CopyingCost:
      type: object
      properties:
        alpha_clone_tax:
          type: number
          description: The alpha clone tax amount
        estimated_item_value:
          type: number
          description: The estimated item value (EIV). This may not be completely
            accurate.
        facility_tax:
          type: number
          description: The facility amount
        job_cost_base:
          type: number
        materials:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/MaterialCost"
        materials_volume:
          type: number
        product_id:
          type: integer
          format: int64
        product_volume:
          type: number
        runs:
          type: number
          format: double
          description: The number of runs
        scc_surcharge:
          type: number
          description: The SCC surcharge amount
        system_cost_bonuses:
          type: number
          description: "Bonuses to system cost from structures, rigs, etc."
        system_cost_index:
          type: number
          description: |-
            The system cost index amount.
            Note that this will always be a slightly off, as the ESI does not report the full precision of the system cost index rates.
            See https://github.com/esi/esi-issues/issues/1411
        time:
          type: string
        total_cost:
          type: number
        total_cost_per_run:
          type: number
        total_job_cost:
          type: number
          description: The total amount of ISK required to start the job
        total_material_cost:
          type: number
    IndustryCost:
      type: object
      properties:
        copying:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/CopyingCost"
        input:
          $ref: "#/components/schemas/IndustryCostInput"
        invention:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/InventionCost"
        manufacturing:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ProductionCost"
        reaction:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ProductionCost"
    IndustryCostInput:
      type: object
      properties:
        advanced_capital_ship_construction:
          type: integer
          format: int32
          default: 5
          description: The Advanced Capital Ship Construction skill level the installing
            character
          maximum: 5
          minimum: 0
        advanced_industrial_ship_construction:
          type: integer
          format: int32
          default: 5
          description: The Advanced Industrial Ship Construction skill level the installing
            character
          maximum: 5
          minimum: 0
        advanced_industry:
          type: integer
          format: int32
          default: 5
          description: The Advanced Industry skill level the installing character
          maximum: 5
          minimum: 0
        advanced_large_ship_construction:
          type: integer
          format: int32
          default: 5
          description: The Advanced Large Ship Construction skill level the installing
            character
          maximum: 5
          minimum: 0
        advanced_medium_ship_construction:
          type: integer
          format: int32
          default: 5
          description: The Advanced Medium Ship Construction skill level the installing
            character
          maximum: 5
          minimum: 0
        advanced_small_ship_construction:
          type: integer
          format: int32
          default: 5
          description: The Advanced Small Ship Construction skill level the installing
            character
          maximum: 5
          minimum: 0
        alpha:
          type: boolean
          default: false
          description: Whether installing character is an alpha clone or not
        amarr_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Amarr Encryption Methods skill level the installing character
          maximum: 5
          minimum: 0
        amarr_starship_engineering:
          type: integer
          format: int32
          default: 5
          description: The Amarr Starship Engineering skill level the installing character
          maximum: 5
          minimum: 0
        blueprint_id:
          type: integer
          format: int64
          description: The blueprint ID to calculate
          minimum: 1
        caldari_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Caldari Encryption Methods skill level the installing character
          maximum: 5
          minimum: 0
        caldari_starship_engineering:
          type: integer
          format: int32
          default: 5
          description: The Caldari Starship Engineering skill level the installing
            character
          maximum: 5
          minimum: 0
        copying_cost:
          type: number
          description: The copying cost index of the system where the job is installed
          maximum: 1
          minimum: 0
        core_subsystem_technology:
          type: integer
          format: int32
          default: 5
          description: The Core Subsystem Technology skill level the installing character
          maximum: 5
          minimum: 0
        decryptor_id:
          type: integer
          format: int64
          description: The decryptor type ID to use
        defensive_subsystem_technology:
          type: integer
          format: int32
          default: 5
          description: The Defensive Subsystem Technology skill level the installing
            character
          maximum: 5
          minimum: 0
        electromagnetic_physics:
          type: integer
          format: int32
          default: 5
          description: The Electromagnetic Physics skill level the installing character
          maximum: 5
          minimum: 0
        electronic_engineering:
          type: integer
          format: int32
          default: 5
          description: The Electronic Engineering skill level the installing character
          maximum: 5
          minimum: 0
        facility_tax:
          type: number
          default: 0
          description: The facility tax rate of the station or structure where the
            job is installed
          maximum: 1
          minimum: 0
        gallente_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Gallente Encryption Methods skill level the installing
            character
          maximum: 5
          minimum: 0
        gallente_starship_engineering:
          type: integer
          format: int32
          default: 5
          description: The Gallente Starship Engineering skill level the installing
            character
          maximum: 5
          minimum: 0
        graviton_physics:
          type: integer
          format: int32
          default: 5
          description: The Graviton Physics skill level the installing character
          maximum: 5
          minimum: 0
        high_energy_physics:
          type: integer
          format: int32
          default: 5
          description: The High Energy Physics skill level the installing character
          maximum: 5
          minimum: 0
        hydromagnetic_physics:
          type: integer
          format: int32
          default: 5
          description: The Hydromagnetic Physics skill level the installing character
          maximum: 5
          minimum: 0
        industry:
          type: integer
          format: int32
          default: 5
          description: The Industry skill level the installing character
          maximum: 5
          minimum: 0
        invention_cost:
          type: number
          description: The invention cost index of the system where the job is installed
          maximum: 1
          minimum: 0
        laser_physics:
          type: integer
          format: int32
          default: 5
          description: The Laser Physics skill level the installing character
          maximum: 5
          minimum: 0
        manufacturing_cost:
          type: number
          description: The manufacturing cost index of the system where the job is
            installed
          maximum: 1
          minimum: 0
        material_prices:
          type: string
          default: ESI_AVG
          description: Where to get material prices from
          enum:
          - ESI_AVG
          - FUZZWORK_JITA_SELL_MIN
          - FUZZWORK_JITA_SELL_AVG
          - FUZZWORK_JITA_BUY_MAX
          - FUZZWORK_JITA_BUY_AVG
        me:
          type: integer
          format: int32
          description: The material efficiency of the blueprint. Defaults to 10 for
            T1 products or invention output ME to T2 products
          maximum: 10
          minimum: 0
        mechanical_engineering:
          type: integer
          format: int32
          default: 5
          description: The Mechanical Engineering skill level the installing character
          maximum: 5
          minimum: 0
        metallurgy:
          type: integer
          format: int32
          default: 5
          description: The Metallurgy skill level the installing character
          maximum: 5
          minimum: 0
        minmatar_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Minmatar Encryption Methods skill level the installing
            character
          maximum: 5
          minimum: 0
        minmatar_starship_engineering:
          type: integer
          format: int32
          default: 5
          description: The Minmatar Starship Engineering skill level the installing
            character
          maximum: 5
          minimum: 0
        molecular_engineering:
          type: integer
          format: int32
          default: 5
          description: The Molecular Engineering skill level the installing character
          maximum: 5
          minimum: 0
        mutagenic_stabilization:
          type: integer
          format: int32
          default: 5
          description: The Mutagenic Stabilization skill level the installing character
          maximum: 5
          minimum: 0
        nanite_engineering:
          type: integer
          format: int32
          default: 5
          description: The Nanite Engineering skill level the installing character
          maximum: 5
          minimum: 0
        nuclear_physics:
          type: integer
          format: int32
          default: 5
          description: The Nuclear Physics skill level the installing character
          maximum: 5
          minimum: 0
        offensive_subsystem_technology:
          type: integer
          format: int32
          default: 5
          description: The Offensive Subsystem Technology skill level the installing
            character
          maximum: 5
          minimum: 0
        plasma_physics:
          type: integer
          format: int32
          default: 5
          description: The Plasma Physics skill level the installing character
          maximum: 5
          minimum: 0
        product_id:
          type: integer
          format: int64
          description: The desired product type ID
          minimum: 1
        propulsion_subsystem_technology:
          type: integer
          format: int32
          default: 5
          description: The Propulsion Subsystem Technology skill level the installing
            character
          maximum: 5
          minimum: 0
        quantum_physics:
          type: integer
          format: int32
          default: 5
          description: The Quantum Physics skill level the installing character
          maximum: 5
          minimum: 0
        reaction_cost:
          type: number
          description: The reaction cost index of the system where the job is installed
          maximum: 1
          minimum: 0
        reactions:
          type: integer
          format: int32
          default: 5
          description: The Reactions skill level the installing character
          maximum: 5
          minimum: 0
        research:
          type: integer
          format: int32
          default: 5
          description: The Research skill level the installing character
          maximum: 5
          minimum: 0
        researching_me_cost:
          type: number
          description: The researching material efficiency cost index of the system
            where the job is installed
          maximum: 1
          minimum: 0
        researching_te_cost:
          type: number
          description: The researching time efficiency cost index of the system where
            the job is installed
          maximum: 1
          minimum: 0
        rig_id:
          type: array
          description: The type IDs of the rigs installed on the sture structure where
            the job is installed
          items:
            type: integer
            format: int64
            description: The type IDs of the rigs installed on the sture structure
              where the job is installed
        rocket_science:
          type: integer
          format: int32
          default: 5
          description: The Rocket Science skill level the installing character
          maximum: 5
          minimum: 0
        runs:
          type: integer
          format: int32
          default: 1
          description: The number of runs
          minimum: 1
        science:
          type: integer
          format: int32
          default: 5
          description: The Science skill level the installing character
          maximum: 5
          minimum: 0
        security:
          type: string
          description: "The security class of the system where the job is installed.\
            \ If neither security nor system is supplied, high sec is assumed"
          enum:
          - HIGH_SEC
          - LOW_SEC
          - NULL_SEC
        sleeper_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Sleeper Encryption Methods skill level the installing character
          maximum: 5
          minimum: 0
        structure_type_id:
          type: integer
          format: int64
          description: "The type ID of the structure where the job is installed. If\
            \ not set, an NPC station is assumed."
        system_cost_bonus:
          type: number
          default: 0
          description: "Bonus to apply to system cost, such as the faction warfare\
            \ bonus"
          example: -0.5
          maximum: 1
          minimum: 0
        system_id:
          type: integer
          format: int32
          description: "The ID of the system where the job is installed. This will\
            \ resolve security class and cost indices. If neither security nor system\
            \ is supplied, high sec is assumed"
        te:
          type: integer
          format: int32
          description: The time efficiency of the blueprint. Defaults to 20 for T1
            products or invention output TE to T2 products
          maximum: 20
          minimum: 0
        triglavian_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Triglavian Encryption Methods skill level the installing
            character
          maximum: 5
          minimum: 0
        triglavian_quantum_engineering:
          type: integer
          format: int32
          default: 5
          description: The Triglavian Quantum Engineering skill level the installing
            character
          maximum: 5
          minimum: 0
        upwell_encryption_methods:
          type: integer
          format: int32
          default: 5
          description: The Upwell Encryption Methods skill level the installing character
          maximum: 5
          minimum: 0
        upwell_starship_engineering:
          type: integer
          format: int32
          default: 5
          description: The Upwell Starship Engineering skill level the installing
            character
          maximum: 5
          minimum: 0
    InventionCost:
      type: object
      properties:
        alpha_clone_tax:
          type: number
          description: The alpha clone tax amount
        avg_cost_per_copy:
          type: number
        avg_cost_per_run:
          type: number
        avg_cost_per_unit:
          type: number
        avg_time_per_copy:
          type: string
        avg_time_per_run:
          type: string
        avg_time_per_unit:
          type: string
        blueprint_id:
          type: integer
          format: int64
          description: The source blueprint of the invention
        estimated_item_value:
          type: number
          description: The estimated item value (EIV). This may not be completely
            accurate.
        expected_copies:
          type: number
          format: double
        expected_runs:
          type: number
          format: double
        expected_units:
          type: number
          format: double
        facility_tax:
          type: number
          description: The facility amount
        job_cost_base:
          type: number
        materials:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/MaterialCost"
        materials_volume:
          type: number
        me:
          type: integer
          format: int32
          description: The material efficiency of the invented blueprint
        probability:
          type: number
          format: double
        product_id:
          type: integer
          format: int64
        product_volume:
          type: number
        runs:
          type: number
          format: double
          description: The number of runs
        runs_per_copy:
          type: integer
          format: int32
          description: The number of runs on each successfully invented copy
        scc_surcharge:
          type: number
          description: The SCC surcharge amount
        system_cost_bonuses:
          type: number
          description: "Bonuses to system cost from structures, rigs, etc."
        system_cost_index:
          type: number
          description: |-
            The system cost index amount.
            Note that this will always be a slightly off, as the ESI does not report the full precision of the system cost index rates.
            See https://github.com/esi/esi-issues/issues/1411
        te:
          type: integer
          format: int32
          description: The time efficiency of the invented blueprint
        time:
          type: string
        total_cost:
          type: number
        total_job_cost:
          type: number
          description: The total amount of ISK required to start the job
        total_material_cost:
          type: number
        units_per_run:
          type: integer
          format: int32
    MaterialCost:
      type: object
      properties:
        cost:
          type: number
        cost_per_unit:
          type: number
        quantity:
          type: number
          format: double
        type_id:
          type: integer
          format: int64
        volume:
          type: number
        volume_per_unit:
          type: number
    ProductionCost:
      type: object
      properties:
        alpha_clone_tax:
          type: number
          description: The alpha clone tax amount
        blueprint_id:
          type: integer
          format: int64
          description: The source blueprint of the manufacture
        estimated_item_value:
          type: number
          description: The estimated item value (EIV). This may not be completely
            accurate.
        facility_tax:
          type: number
          description: The facility amount
        materials:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/MaterialCost"
        materials_volume:
          type: number
        me:
          type: integer
          format: int32
          description: The material efficiency used
        product_id:
          type: integer
          format: int64
        product_volume:
          type: number
        runs:
          type: number
          format: double
          description: The number of runs
        scc_surcharge:
          type: number
          description: The SCC surcharge amount
        system_cost_bonuses:
          type: number
          description: "Bonuses to system cost from structures, rigs, etc."
        system_cost_index:
          type: number
          description: |-
            The system cost index amount.
            Note that this will always be a slightly off, as the ESI does not report the full precision of the system cost index rates.
            See https://github.com/esi/esi-issues/issues/1411
        te:
          type: integer
          format: int32
          description: The time efficiency used
        time:
          type: string
        time_per_run:
          type: string
        time_per_unit:
          type: string
        total_cost:
          type: number
        total_cost_per_run:
          type: number
        total_cost_per_unit:
          type: number
        total_job_cost:
          type: number
          description: The total amount of ISK required to start the job
        total_material_cost:
          type: number
        units:
          type: integer
          format: int64
          description: Total number of item produced
        units_per_run:
          type: integer
          format: int64
          description: Total number of item produced
