openapi: 3.0.1
info:
  title: EVE Ref Reference Data for EVE Online
  description: This spec should be considered unstable and subject to change at any
    time.
  license:
    name: CCP
    url: https://github.com/autonomouslogic/eve-ref/blob/main/LICENSE-CCP
  version: dev
externalDocs:
  description: Reference data
  url: https://github.com/autonomouslogic/eve-ref/blob/main/docs/refdata.md
servers:
- url: https://ref-data.everef.net
  variables: {}
paths:
  /categories:
    get:
      tags:
      - refdata
      description: Get all category IDs.
      operationId: getAllCategories
      responses:
        "200":
          description: Category IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /categories/{category_id}:
    get:
      tags:
      - refdata
      operationId: getCategory
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: The category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCategory'
  /dogma_attributes:
    get:
      tags:
      - refdata
      description: Get all dogma attribute IDs.
      operationId: getAllDogmaAttributes
      responses:
        "200":
          description: Dogma attribute IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /dogma_attributes/{attribute_id}:
    get:
      tags:
      - refdata
      operationId: getDogmaAttribute
      parameters:
      - name: attribute_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: The dogma attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DogmaAttribute'
  /groups:
    get:
      tags:
      - refdata
      description: Get all type IDs.
      operationId: getAllGroups
      responses:
        "200":
          description: Group IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /groups/{group_id}:
    get:
      tags:
      - refdata
      operationId: getGroup
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: The group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGroup'
  /market_groups:
    get:
      tags:
      - refdata
      description: Get all market group IDs.
      operationId: getAllMarketGroups
      responses:
        "200":
          description: Market group IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /market_groups/{market_group_id}:
    get:
      tags:
      - refdata
      operationId: getMarketGroup
      parameters:
      - name: market_group_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: The market group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketGroup'
  /types:
    get:
      tags:
      - refdata
      description: Get all type IDs.
      operationId: getAllTypes
      responses:
        "200":
          description: Type IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /types/{type_id}:
    get:
      tags:
      - refdata
      operationId: getType
      parameters:
      - name: type_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: The type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryType'
components:
  schemas:
    DogmaAttribute:
      type: object
      properties:
        attribute_id:
          type: integer
          format: int32
        category_id:
          type: integer
          format: int32
        charge_recharge_time_id:
          type: integer
          format: int32
        data_type:
          type: integer
          format: int32
        default_value:
          type: number
          format: double
        description:
          type: object
          additionalProperties:
            type: string
        display_name:
          type: object
          additionalProperties:
            type: string
        display_when_zero:
          type: boolean
        high_is_good:
          type: boolean
        icon_id:
          type: integer
          format: int32
        max_attribute_id:
          type: integer
          format: int32
        name:
          type: string
        published:
          type: boolean
        stackable:
          type: boolean
        tooltip_description:
          type: object
          additionalProperties:
            type: string
        tooltip_title:
          type: object
          additionalProperties:
            type: string
        unit_id:
          type: integer
          format: int32
    DogmaTypeAttribute:
      type: object
      properties:
        attribute_id:
          type: integer
          format: int32
        value:
          type: number
          format: double
      description: A specific value for a dogma attribute
    DogmaTypeEffect:
      type: object
      properties:
        effect_id:
          type: integer
          format: int32
        is_default:
          type: boolean
      description: A specific value for a dogma effect.
    InventoryCategory:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        name:
          type: object
          additionalProperties:
            type: string
        published:
          type: boolean
        icon_id:
          type: integer
          format: int64
      description: An inventory category
    InventoryGroup:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        group_id:
          type: integer
          format: int64
        icon_id:
          type: integer
          format: int64
        name:
          type: object
          additionalProperties:
            type: string
        anchorable:
          type: boolean
        anchored:
          type: boolean
        fittable_non_singleton:
          type: boolean
        published:
          type: boolean
        use_base_price:
          type: boolean
      description: An inventory group
    InventoryType:
      type: object
      properties:
        base_price:
          type: number
        capacity:
          type: number
          format: double
        description:
          type: object
          additionalProperties:
            type: string
            description: The key is the language code.
          description: The key is the language code.
        dogma_attributes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DogmaTypeAttribute'
          description: A map of dogma attributes. The key is the attribute ID
        dogma_effects:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DogmaTypeEffect'
          description: A map of dogma attributes. The key is the attribute ID
        faction_id:
          type: integer
          format: int32
        graphic_id:
          type: integer
          format: int32
        group_id:
          type: integer
          format: int32
        icon_id:
          type: integer
          format: int32
        market_group_id:
          type: integer
          format: int32
        mass:
          type: number
        masteries:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
              format: int32
        meta_group_id:
          type: integer
          format: int32
        name:
          type: object
          additionalProperties:
            type: string
            description: The key is the language code.
          description: The key is the language code.
        packaged_volume:
          type: number
          format: double
        portion_size:
          type: integer
          format: int32
        published:
          type: boolean
        race_id:
          type: integer
          format: int32
        radius:
          type: number
          format: double
        sof_faction_name:
          type: string
        sof_material_set_id:
          type: integer
          format: int32
        sound_id:
          type: integer
          format: int32
        traits:
          $ref: '#/components/schemas/InventoryTypeTraits'
        type_id:
          type: integer
          format: int32
        variation_parent_type_id:
          type: integer
          format: int32
        volume:
          type: number
        is_skill:
          type: boolean
          description: Whether this type is a skill or not. This is added by EVE Ref.
          default: false
      description: An inventory type
    InventoryTypeTraits:
      type: object
      properties:
        misc_bonuses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TraitBonus'
        role_bonuses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TraitBonus'
        types:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TraitBonus'
        icon_id:
          type: integer
          format: int32
    MarketGroup:
      type: object
      properties:
        market_group_id:
          type: integer
          format: int64
        parent_group_id:
          type: integer
          format: int64
        name:
          type: object
          additionalProperties:
            type: string
        description:
          type: object
          additionalProperties:
            type: string
        icon_id:
          type: integer
          format: int64
        has_types:
          type: boolean
      description: A market group
    TraitBonus:
      type: object
      properties:
        bonus:
          type: number
          format: double
        bonus_text:
          type: object
          additionalProperties:
            type: string
            description: The key is the language code.
          description: The key is the language code.
        importance:
          type: integer
          format: int32
        is_positive:
          type: boolean
        unit_id:
          type: integer
          format: int32
