name: Build
on: [ push ]
jobs:
  Java:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Test
        run: make test-java

      - name: Code Coverage
        run: ./gradlew jacocoTestReport --stacktrace

      - name: Codecov Upload
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Docker build
        run: make docker-placeholder
  UI:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Env
        run: test "$GITHUB_ACTIONS" = "true" && echo "GITHUB_ACTIONS set"

      - name: Init
        run: make init-ui

      - name: Build
        run: make build-ui
